.artikkeli
{
    width: 15%;
    padding: 1%;
    margin: 1%;
    margin-right: 1%;
    float:left;
}

h1
{
    font-family: 'Bebas Neue', cursive;
}

#art1
{
    background-color: aquamarine;
    font-family: 'Bebas Neue', cursive;
}

#art2
{
    background-color: rgb(230, 188, 138);
    font-family: 'Bebas Neue', cursive;
}

#art3
{
    background-color: cornflowerblue;
    font-family: 'Bebas Neue', cursive;
}

#art4
{
    background-color: darkgray;
    font-family: 'Bebas Neue', cursive;
}

#art5
{
    background-color: rgb(229, 205, 241);
    font-family: 'Bebas Neue', cursive;

}