.artikkeli
{
    width: 10%;
    padding: 1%;
    display: block;
    margin-right: 1%;
    float: left;
    
    
}

h1
{
    font-family: 'Bebas Neue', cursive;
}

#art1
{
    background-color: aquamarine;
    font-family: 'Bebas Neue', cursive;
}

#art2
{
    background-color: rgb(230, 188, 138);
    font-family: 'Bebas Neue', cursive;
}

#art3
{
    background-color: cornflowerblue;
    font-family: 'Bebas Neue', cursive;
}

#art4
{
    background-color: darkgray;
    font-family: 'Bebas Neue', cursive;
}

#art5
{
    background-color: rgb(229, 205, 241);
    font-family: 'Bebas Neue', cursive;

}

#art6
{
    background-color: blueviolet;
    font-family: 'Bebas Neue', cursive;
}

#art7
{
    background-color:crimson;
    font-family: 'Bebas Neue', cursive;

}

#art8
{
    background-color:darkkhaki;
    font-family: 'Bebas Neue', cursive;

}

#art9
{
    background-color:darkorange;
    font-family: 'Bebas Neue', cursive;

}

#art10
{
    background-color:blanchedalmond;
    font-family: 'Bebas Neue', cursive;

}

#art11
{
    background-color:darksalmon;
    font-family: 'Bebas Neue', cursive;

}

